{% extends "Layout.html" %}


{% block imports %}

    <link rel='stylesheet' href='lib/fullcalendar/fullcalendar.css'/>
    <link rel='stylesheet' href='css/fullcalendar-custom.css'/>
    <link rel='stylesheet' href='lib/magnific-popup/magnific-popup.css'/>
    <link rel='stylesheet' href='css/appointment-popup.css'/>

    <script src='lib/moment/moment.js'></script>
    <script src='lib/jquery/jquery.js'></script>
    <script src='lib/fullcalendar/fullcalendar.js'></script>
    <script src="lib/magnific-popup/magnific-popup.js"></script>



{% endblock %}



{% block content %}
    <h2>Hi {{ name }}, welcome to your lesson calendar</h2>
    <div id='calendar'></div>

{% include 'AppointmentPopup.html' %}

{% endblock %}


{% block afterload %}
<script src="js/calendar.js"></script>

{% endblock %}